 <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand navbar-expand-lg ms-4 mt-1 text-light" href="/">
      <i class="fas fa-link text-light" ></i> Matías Cellamare
    </a>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end m-2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto m-2">

            <li class="nav-item">
        <a class="nav-link disabled" href="#inicio">Development</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#lenguajes">Languages</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#proyectos">Projects</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="#contacto">Contact</a>
      </li>
     

    </ul>

  </div>
</nav>
 
 
 
 
{{!--  
 
   <div class="d-flex justify-content-between fixed-top">
    <a class="navbar-brand navbar-expand-lg ms-4 mt-1 text-light" href="/">
      <i class="fas fa-link text-light" ></i> Matías Cellamare
    </a>
    <ul class="nav justify-content-end mt-1">
          <li class="nav-item">
    <a class="nav-link disabled">Desarrollo Web</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-light" aria-current="page" href="/lenguajes">Lenguajes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/proyectos">Proyectos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/contacto">Contacto</a>
  </li>

    </ul>
    </div> --}}
