    <section id="languages" class="contenedor sobre languages">


        <div class="iconos-nosotros mt-4">
            <div class="icono">
                <img src="img/iconojs.png" alt="icono javascript" loading="lazy">
                <h3>Javascript</h3>
            </div>

            <div class="icono">
                <img src="img/icononodejs.png" alt="icono Node.js" loading="lazy">
                <h3>Node.js</h3>
            </div>

            <div class="icono">
                <img src="img/iconophp.png" alt="icono php" loading="lazy">
                <h3>PHP</h3>
            </div>

            <div class="icono">
                <img src="img/iconomongo.png" alt="icono Mongodb" loading="lazy">
                <h3>MongoDB</h3>
            </div>
            <div class="icono">
                <img src="img/iconosql.png" alt="icono sql" loading="lazy">
                <h3>SQL</h3>
            </div>

            <div class="icono">
                <img src="img/iconohtml.png" alt="icono html" loading="lazy">
                <h3>Html</h3>
            </div>

            <div class="icono">
                <img src="img/iconocss.png" alt="icono Css" loading="lazy">
                <h3>Css</h3>
            </div>
            <div class="icono">
                <img src="img/iconobootstrap.png" alt="icono bootstrap" loading="lazy">
                <h3>Bootstrap</h3>
            </div>

        </div>
    </section>